<h1>All orders</h1>
<%= form_for Order.new do |f| %>
  <%= f.button "Create new order" %>
<% end %>
<ul>
  <% @orders.each do |order| %>
    <li>
      <%= link_to "order #{order.id}", order %>
    </li>
  <% end %>
</ul>
